.dance-move {
  background-color: #000;
  color: white;
  padding: 20px;
}

/* .dance-box {
} */

.dance-move .dance-box .dance-title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
}

.dance-title h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.dance-move .dance-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  border-radius: 15px;
  background-color: #000;
  margin: 20px auto;
  font-size: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2rem;
  box-shadow: 0 0 10px #FFD700, 
            0 0 20px #FFD700, 
            0 0 40px rgba(255, 215, 0, 0.8), 
            0 0 80px rgba(255, 215, 0, 0.5);
  transition: background 0.2s ease-in;
  animation: neonYellowGlow 1.5s infinite alternate;
}

@keyframes neonYellowGlow {
  0% { box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700; }
  50% { box-shadow: 0 0 20px #FFD700, 0 0 40px rgba(255, 215, 0, 0.8); }
  100% { box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700; }
}

.dance-move .button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.dance-move .button {
  padding: 10px;
  background: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background 0.3s ease-in-out;
}

.dance-move .button:hover {
  background: #666;
}

.dance-move .button.active {
  background-color: #ffd700;
  color: #000;
}
