.event-section {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    color: black;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
  }
  
  /* Danh sách sự kiện */
  .event-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;
  }
  
  /* Card sự kiện */
  .event-card {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .event-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .event-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .event-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .event-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
  }
  

  .map-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .map-popup {
      width: 90vw;
      height: 350px;
      bottom: 5%;
    }
  }
  