* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* background-color: #000; */
  overflow-x: hidden;
  position: relative;
}

:root {
  --primary-color: #9acd32;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-left: 32px;
  height: 100%;
}

::-webkit-scrollbar-track
{
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}


.title{
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.row{
  padding: 20px;
  min-height: 80vh;
  width: 100%;
}