.footer {
  background-color: #0C1117;
  color: white;
  padding: 40px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  font-size: 18px;
}

.footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .footer-container .logo{
    gap: 0.2em;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
    height: 30%;
}

.footer .footer-container .logo:hover{
  opacity: 0.7;
}

.footer .footer-text {
  font-size: 14px;
}

.footer .footer-container .footer-contact {
  color: #fff;
  margin-bottom: 20px;
  text-align: left;
}

.footer .footer-container .footer-contact .contact-email {
  color: #ffd700;
  text-decoration: none;
  font-size: 16px;
}

.footer .footer-container .footer-contact a:hover {
  text-decoration: underline;
}

.footer .footer-container .footer-icons {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.footer-icons .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  /* color: white; */
  transition: background-color 0.3s ease;
  background-color: #fff;
  font-size: 18px;
}

.footer-link svg {
  width: 60%; /* Điều chỉnh icon vừa khít với box */
  height: 60%;
}

.footer-icons .footer-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer-link.facebook {
  color: #3b5998;
}

.footer-link.youtube {
  color: #ff0000;
}

.footer-link.spotify {
  color: #1db954;
}
